# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Android/
.gradle/
build/

# iOS/
build/
.symlinks/

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Dart
.dart_tool/

# IDEs
.idea/
.vscode/
